<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/saved">Saved</a>
    <a class="navbar-brand"  id="scrape" href="/scrape">Scrape</a>
  </nav>
</div>